.home {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: url('../../imgs/nav-bg.png') no-repeat #000;
    background-position: left top;
    background-size: 100%;
    .nav {
        .actv {
            position: relative;
            img {
                width: 100%;
            }
            .launchBtn {
                position: absolute;
                bottom: 100px;
                left: 50%;
                transform: translate(-50%);
                background: linear-gradient(102.06deg, #FDFF00 -0.09%, #00F5EB 86.38%);
                border: none;
                outline: none;
                color: #000;
                margin-top: 60px;
                border-radius: 8px;
                padding: 12px 40px;
                font-size: 22px;
                font-weight: bold;
            }
        }
        .outer {
            width: 1200px;
            margin: 0 auto;
            padding: 100px 0 50px;
            .titleOne {
                color: #fff;
                font-size: 28px;
                font-weight: bold;
            }
            .titleTwo {
                color: #fff;
                font-size: 72px;
                font-weight: bold;
            }
            .titleThree {
                color: #fff;
                line-height: 1.8;
            }
            .keyword {
                color: #fdff00;
                font-size: 14px;
                margin: 30px 0 40px;
                div {
                    padding: 0 15px;
                }
            }
            .launchBtn {
                background: linear-gradient(102.06deg, #FDFF00 -0.09%, #00F5EB 86.38%);
                border: none;
                outline: none;
                color: #000;
                margin-top: 60px;
                border-radius: 8px;
                padding: 12px 40px;
                font-size: 22px;
                font-weight: bold;
            }

            .cardShow {
                margin-top: 120px;
                .cardItem {
                    border: 1px solid #383838;
                    border-radius: 8px;
                    overflow: hidden;
                    margin: 0 15px;
                    .cardImg {
                        width: 160px;
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                    .cardMiddle {
                        margin: 0 30px;
                    }
                    .ciAside {
                        background-color: #000;
                        padding: 15px;
                        .title {
                            color: #929292;
                            font-size: 14px;
                        }
                        .identity {
                            font-size: 18px;
                            font-weight: bold;
                            color: #fff;
                            line-height: 40px;
                        }
                        .desc {
                            color: #929292;
                            font-size: 12px;
                        }
                        .price {
                            color: #fff;
                            margin-bottom: 10px;
                            font-size: 14px;
                            .s {
                                color: #FDFF00;
                            }
                        }
                        .operaBtn {
                            margin-top: 10px;
                            button {
                                background: linear-gradient(103.26deg, #FDFF00 0.63%, #00F5EB 93.25%);
                                border: 1px solid transparent;
                                outline: none;
                                color: #000;
                                border-radius: 8px;
                                text-align: center;
                                padding: 5px 0;
                                font-size: 12px;
                                font-weight: bold;
                            }
                            .w {
                                background: #000;
                                color: #B2B2B2;
                                border-color: #B2B2B2;
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    .card {
        width: 200px;
        height: 200px;
        position: relative;
        margin: 50px 0;
        perspective: 300px;
        .div1 {
            width: 200px;
            height: 200px;
            position: absolute;
            transform-style: preserve-3d;
            backface-visibility: hidden;
            transition: all 2s;
            background: url("https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1361433311,1491821341&fm=26&gp=0.jpg");
            background-size: cover;
            transform: rotateY(0);
        }
        .div2 {
            width: 200px;
            height: 200px;
            position: absolute;
            transform-style: preserve-3d;
            backface-visibility: hidden;
            transition: all 2s;
            background: url("https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=2272613057,4138728640&fm=26&gp=0.jpg");
            background-size: cover;
            transform: rotateY(180deg);
        }
        &:hover .div1 {
            transform: rotateY(-180deg);
        }

        &:hover .div2 {
            transform: rotateY(0);
        }
    }
}

@media (max-width: 960px) {
    .home {
        .nav {
            .actv {
                position: relative;
                img {
                    width: 100%;
                }
                .launchBtn {
                    position: absolute;
                    bottom: 30px;
                    font-size: 16px;
                    padding-top: 8px;
                    padding-bottom: 8px;
                }
            }
            .outer {
                width: 100%;
                margin: 0 auto;
                padding: 50px 15px 30px;
                .titleOne {
                    font-size: 28px;
                    display: none;
                }
                .titleTwo {
                    font-size: 24px;
                }
                .titleThree {
                    font-size: 13px;
                }
                .keyword {
                   display: none;
                }
                .launchBtn {
                    margin-top: 30px;
                    padding: 8px 0;
                    font-size: 16px;
                    width: 100%;
                }
                .actvBtn {
                    margin-left: 15px;
                }
    
                .cardShow {
                    margin-top: 50px;
                    display: block;
                    .cardItem {
                        margin: 0;
                        width: 100%;
                        margin-bottom: 30px;
                        .cardImg {
                            width: 160px;
                            img {
                                width: 100%;
                                height: auto;
                            }
                        }
                        .cardMiddle {
                            margin: 0 30px;
                        }
                        .ciAside {
                            background-color: #000;
                            padding: 15px;
                            .title {
                                color: #929292;
                                font-size: 14px;
                            }
                            .identity {
                                font-size: 18px;
                                font-weight: bold;
                                color: #fff;
                                line-height: 40px;
                            }
                            .desc {
                                color: #929292;
                                font-size: 12px;
                            }
                            .price {
                                color: #fff;
                                margin-bottom: 10px;
                                font-size: 14px;
                                .s {
                                    color: #FDFF00;
                                }
                            }
                            .operaBtn {
                                margin-top: 10px;
                                button {
                                    background-color: #fdff00;
                                    border: 1px solid #fdff00;
                                    outline: none;
                                    color: #000;
                                    border-radius: 8px;
                                    text-align: center;
                                    padding: 5px 0;
                                    font-size: 12px;
                                    font-weight: bold;
                                }
                                .w {
                                    background-color: #000;
                                    color: #B2B2B2;
                                    border-color: #B2B2B2;
                                    margin-left: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .card {
            width: 200px;
            height: 200px;
            position: relative;
            margin: 50px 0;
            perspective: 300px;
            .div1 {
                width: 200px;
                height: 200px;
                position: absolute;
                transform-style: preserve-3d;
                backface-visibility: hidden;
                transition: all 2s;
                background: url("https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1361433311,1491821341&fm=26&gp=0.jpg");
                background-size: cover;
                transform: rotateY(0);
            }
            .div2 {
                width: 200px;
                height: 200px;
                position: absolute;
                transform-style: preserve-3d;
                backface-visibility: hidden;
                transition: all 2s;
                background: url("https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=2272613057,4138728640&fm=26&gp=0.jpg");
                background-size: cover;
                transform: rotateY(180deg);
            }
            &:hover .div1 {
                transform: rotateY(-180deg);
            }
    
            &:hover .div2 {
                transform: rotateY(0);
            }
        }
    }
}
